@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";



:root {
  font-family: "Hanken Grotesk";
  font-optical-sizing: auto;
  font-style: normal;
  line-height: 1.5;
  font-weight: 300;
  color-scheme: light dark;
  color: rgba(18, 17, 17, 0.87);
  background-color: #0e0d0d;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



body {
  margin: 0;
  display: flex;
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
}



button {
  border-radius: 8px;
  border: 0.5px solid rgba(255, 255, 255, 0.661);
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #7304bc;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


.card {
  border-radius: 10px;
  background-color: #171717;
  box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
  outline-color: color-mix(in oklab, var(--ring)50%, transparent);
  border: solid 1px rgba(54, 53, 53, 0.329);
  height: 40%;
  width: 40%;
}